<div class="table-responsive" style="margin-top: 1rem;">
    <table class="table table-sm"
        style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Choice 1</th>
                <th scope="col">Choice 2</th>
                <th scope="col">Choice 3</th>
                <th scope="col">Choice 4</th>
                <th scope="col">Correct Choice</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let q of this.AdminService.mcqQuestions | paginate: { itemsPerPage: count, currentPage: p };let i = index">
                <th scope="row">{{count * (p - 1) + i+1}}</th>
                <td>{{q.question}}</td>
                <td>{{q.choice1}}</td>
                <td>{{q.choice2}}</td>
                <td>{{q.choice3}}</td>
                <td>{{q.choice4}}</td>
                <td>{{q.answer}}</td>
                <td class="action">

                    <button matTooltip="Edit Question" (click)="ForUpdate(q,count * (p - 1) + i)" id="edit-btn">
                        <mat-icon id="edit-btn-icon">edit</mat-icon>
                    </button>

                    <button matTooltip="Delete Question" (click)="ForDelete(q,count * (p - 1) + i)" id="delete-btn" style="margin-left: 0.2rem;">
                        <mat-icon id="delete-btn-icon">delete</mat-icon>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
    <div class="text-right">
        <pagination-controls class="paginationControls" (pageChange)="p = $event" [autoHide]="autoHidePagination"></pagination-controls>
        <!-- <pagination-controls class="paginationControls" (pageChange)="p = $event"></pagination-controls> -->
    </div>
</div>

<div id="overlay" *ngIf="toEdit"></div>

    <div id="dialogBoxForEditing" *ngIf="toEdit"
        style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <form #updateQuestionForm="ngForm" (ngSubmit)="submitUpdatedQuestion(updateQuestionForm.value)" novalidate>
            <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 28rem;z-index: 1060;">
                <h4>Edit Question</h4>
                <div class="form-row">
                    <div class="col-12">
                        <small>Question</small>
                        <input type="text" required #updatedQuestion="ngModel" class="form-control"
                            [class.is-invalid]="updatedQuestion.invalid && updatedQuestion.touched"
                            placeholder="Please Enter Question" name="question" [ngModel]="showQuestion.question">
                        <small class="text-danger" [class.d-none]="updatedQuestion.valid">Question is required</small>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-6">
                        <small>Choice 1</small>
                        <input type="text" required #updatedchoice1="ngModel" class="form-control"
                            [class.is-invalid]="updatedchoice1.invalid && updatedchoice1.touched" placeholder="Please Enter Option1"
                            name="choice1" [ngModel]="showQuestion.choice1">
                        <small class="text-danger" [class.d-none]="updatedchoice1.valid">Option 1 is required</small>
                    </div>
                    <div class="col-6">
                        <small>Choice 2</small>
                        <input type="text" required #updatedchoice2="ngModel" class="form-control"
                            [class.is-invalid]="updatedchoice2.invalid && updatedchoice2.touched" placeholder="Please Enter Option2"
                            name="choice2" [ngModel]="showQuestion.choice2">
                        <small class="text-danger" [class.d-none]="updatedchoice2.valid">Option 2 is required</small>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-6">
                        <small>Choice 3</small>
                        <input type="text" required #updatedchoice3="ngModel" class="form-control"
                            [class.is-invalid]="updatedchoice3.invalid && updatedchoice3.touched" placeholder="Please Enter Option3"
                            name="choice3" [ngModel]="showQuestion.choice3">
                        <small class="text-danger" [class.d-none]="updatedchoice3.valid">Option 3 is required</small>
                    </div>
                    <div class="col-6">
                        <small>Choice 4</small>
                        <input type="text" required #updatedchoice4="ngModel" class="form-control"
                            [class.is-invalid]="updatedchoice4.invalid && updatedchoice4.touched" placeholder="Please Enter Option4"
                            name="choice4" [ngModel]="showQuestion.choice4">
                        <small class="text-danger" [class.d-none]="updatedchoice4.valid">Option 4 is required</small>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-6">
                    <small>Correct Choice</small>
                    <select class="select" required #updatedanswer="ngModel"
                        [class.is-invalid]="updatedanswer.invalid && updatedanswer.touched" name="answer"
                        [ngModel]="showQuestion.answer">
                        <option *ngFor="let choice of choices" [value]="choice.value">{{choice.viewValue}}</option>
                    </select>
                </div>
                </div>
                <br>
                <span>
                    <button class="btn btn-outline-success btn-sm" [disabled]="updateQuestionForm.invalid"
                        type="submit" style="margin-right: 1.4rem;">UPDATE</button>
                    <button class="btn btn-outline-warning btn-sm" (click)="closeUpdateQuestionDialog()">CANCEL</button>
                </span>
            </div>
        </form>
    </div>
