<div class="quiz-container">
  <h2 *ngIf="favQuizes.length>0">Your Favourite Quizes</h2>
    <mat-grid-list cols="2">
    <mat-card class="quize-card" *ngFor="let quiz of favQuizes">
        <mat-card-header>
            <h2>{{quiz.quiz_name}}</h2>
        </mat-card-header>
       
        <mat-card-actions>
            <img class="icon" src="../../../../../assets/icons8-hearts-24.png"(click)="RemoveFromFavourite(quiz.quiz_id)"/>
            <button color="primary" (click)="displayQuize(quiz)" mat-raised-button>Take Test</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-list>
  </div>
  
  <!-- <app-display-quize [quizTitle]="quizes"></app-display-quize> -->
  