.gameCard{
    height: 20rem;
    width: 10rem;
   
}
.game-page-content{
  display: flex;
  direction: row;
  align-items: center;
   div{
       margin:5rem;
       margin-left: 10rem;
       text-align: center;
       justify-items: center;
}
}

.game-div{
    margin-left: 10rem;
}